canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.75) translateY(120%);
    animation: come 1s cubic-bezier(0.22, 1, 0.36, 1) 0s 1 forwards;

    @keyframes come {
        50% {
            transform: scale(0.75);
        }
        100% {
            transform: scale(1);
        }
    }
}
